/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* header */
/* common */

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

/* /common */

.banner {
    width: 700px;
    background-color: #255EE9;
    margin: 0 auto;
    padding: 0px;
}

header {
    background-color: #255EE9;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

h2 {
    margin-bottom: 20px;
    font-size: 1.7rem;
}

p {
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 0.8rem;
    max-height: 80px;
}

a {
    text-decoration: none;
    color: inherit;
}
.p-h {
    margin-bottom: 0;
}

.link ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section {
    padding: 50px 0;
}

.logo,
.login {
    display: flex;
    /* width: 20%; */
    /* debug */
    /* border: 1px dashed black; */
    /* /debug */
}

.login {
    display: flex;
    justify-content: right;
}


.b-w {
    color: black;
    font-size: 1rem;
}

.t-w {
    color: white; 
    font-size: 1rem;
}
/* utilities */
.font-text {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* /utilities */
/* /header */

/* main */
/* first section */

.log-white {
    border: white;
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10px;
}

.log-black {
    border: black;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
    margin-left: 20px;
}

.h-s {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
.first-section {
    /* debug */
    height: 400px;
    /* /debug */
    display: flex;
    justify-content: space-around;
}

.box-purple {
    width: 700px;
    /* debug */
    /* height: 300px; */
    /* background-color: #EE82EE; */
    /* border: 1px dashed black; */
    /* /debug */
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: white;
    line-height: 30px;
}
/* /first section */
/* second section */

.second-section {
    /* debug */
    /* border: 1px dashed black; */
     /* height: 400px; */
     /* /debug */
    width: 700px;
    display: flex;
}
/* common */

.large-container {
    width: 60%;
    /* debug */
    /* height: 100%; */
    /* background-color: #1E90FF; */
     /* border: 1px dashed black;
    /* /debug */
}

.small-container {
    width: 40%;
    /* line-height: 30px; */
    text-align: left;
    /* font-size: 0.75rem; */
    padding: 20px;
    /* debug */
    /* height: 100%; */
    /* background-color: #FFC0CB; */
    /* border: 1px dashed black; */
    /* /debug */
}

.reverse {
    flex-direction: row-reverse;
}
/* /common */

.grey-section {
    /* debug */
    /* border: 1px dashed black; */
     /* height: 400px; */
     /* /debug */
    width: 700px; 
    display: flex;
}

.bg-grey {
    background-color: #D3D3D3;
}

.green-container {
    width: 700px;
    /* /debug */
    /* height: 600px; */
    /* background-color: #228B22; */
    /* /debug */
    margin: 0 auto;
    padding: 0px;
}

.g-c {
    text-align: center;
}

.s-b {
    background-color: #7289DA;
    font-size: 1rem;
    border-radius: 30px;
    border: white;
    color: white;
    padding: 10px;
    margin: 30px 0 0;
    display: inline-block;
}

.star {
    background-image: url(../img/stars.svg);
    background-size: cover;
    text-align: center;
    /* width: 800px; */

    /* display: flex;
    justify-content: center; */
}
/* footer */
footer {
    background-color: #23272A; 
}

ul {
    list-style: none;
}
li {
    color: white;
}
.top {
    width: 700px;
    /* height: 400px; */
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.pink {
    width: 35%;
    /* debug */
    /* height: 100%;
    background-color: #F08080; */
    /* border: 1px dashed black; */
    /* /debug */
}

.p-p {
    color:#7289DA;
    margin-bottom: 20px;
    font-size: 2rem;
    line-height: 30px;
    padding-top: 40px;
}

.language-img {
    width: 1000px;
}
.italian {
    width: 30px;
    padding-top: 30px;
    padding-bottom: 5px;
}
.l-t {
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
}

.icon {
    color: white;
}
.aqua {
    width: 17.5%;
    line-height: 30px;
    margin-left: 40px;
    margin-top: 20px;
    padding-bottom: 100px;
    font-size: 0.8rem;
    /* debug */
    /* height: 100%;
    background-color: #20B2AA;
    border: 1px dashed white; */
    /* /debug */
}

.list-title {
    color: #7289DA;
}

.section-top {
    padding-top: 5px;
    padding-bottom: 20px;
}

.bottom {
    width: 700px;
    height: 50px;
    background-color: #23272A; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-bottom {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    padding-top: 0;
    padding-bottom: 20px;
}

.logo-footer {
    /* debug */
    /* background-color: #FFB6C1; */
    /* height: 30px; */
    /* border: 1px dashed black; */ 
    /* debug */
    width: 80px;
    margin-top: auto;
    margin-bottom: auto;
}

.bottone {
    background-color: #7289DA;
    border: white;
    color: black;
    border-radius: 30px;
    padding: 10px 10px;
    margin-bottom: 20px;
   margin-top: 20px;
}

.sub {
    color: white; 
    font-size: 1rem;
}
/* /footer */
